name: Build, package & push
on: [push, pull_request]

jobs:
  build-deploy:
    env:
      BASE_VERSION: 1.5.99999
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build and Package
      run: |
        dotnet tool install --global Cake.Tool

        git clone https://github.com/nblockchain/fsx
        $env:NUGET_VERSION = `.\fsx\Tools\fsi.bat fsx\Tools\nugetPush.fsx --output-version $env:BASE_VERSION`
        dotnet cake

    - name: Upload
      run: |
        .\fsx\Tools\fsi.bat fsx\Tools\nugetPush.fsx ${{secrets.NUGET_API_KEY}}
